@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif !important;
}

.imgPerfil{
    width: auto;
    height: 36vw;
    justify-content: center;
}

#p1{
    color: rgb(85, 85, 85) !important;
    font-weight: 600;
}

#p2{
    color: rgb(85, 85, 85) !important;
     font-size: 1.5rem;
    font-weight: 600;
}

.navTitulo{
     font-size: 2rem !important;
}

.navHovereffect:hover{
  color: grey !important;
  text-decoration: underline !important;
  text-underline-offset: 1rem !important;
  text-decoration-color: rgb(181, 181, 181) !important;
}

